.container {
	font-family: Arial, sans-serif;
	width: 1080px;
	margin: 0 auto;
	line-height: 1.5;
	box-sizing: border-box;
	display: flex;
}

.sidebar_section {
    width: 180px;
	box-sizing: border-box;
	font-weight: bold;
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
}

.sidebar {
    position: fixed;
    width: 180px;
}

.side_title {
	margin: 0px auto;
    font-size: 22px;
    text-align: center;
}

.side_content {
    font-size: 17px;
    padding: 10px;
    text-align: center;
}

.side_content a{
    margin-bottom: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    height: 45px;
}

.side_content a {
    text-decoration: none;
    color: black;
}

.side_content a:hover {
	background-color: black;
	color: white;
}

.main {
	flex: 1;
	padding: 20px;
}

.insert-board {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 30px;
	padding-top: 10px;
	border-top: 1px solid #dddddd;
}


.gather-list {
	margin: 20px 0px;
}

.gather-list>a {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	color: black
}

.filter-head {
	font-size: 20px;
	font-weight: bold;
}

.filter .buttons {
	margin-top: 20px;
}

.filter input[type="radio"] {
	display: none;
}

.filter label.radio-label {
	margin-right: 5px;
	margin-bottom: 20px;
	padding: 5px 10px;
	border: 1px solid #ddd;
	background: #f9f9f9;
	cursor: pointer;
	display: inline-block;
	border-radius: 4px;
	font-size: 14px;
}

.filter input[type="radio"]:checked+.radio-label {
	background: #000;
	color: #fff;
}

.ck-content {
	height: 500px;
	resize: none;
}

.input-group {
	margin-bottom: 20px;
}

.input-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.input-group input, .input-group textarea {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}

.input-group textarea {
	height: 200px;
	resize: none;
}

.upload-group {
	margin-bottom: 20px;
}

.upload_title {
	display: flex;
}

.upload_title > div {
	margin-right: 10px;
	margin-bottom: 5px;
	font-weight: bold;
}

.upload_title span {
	font-size: 15px;
	color: #777777;
}


.button-group {
	text-align: center;
	margin-top: 20px;
}

.button-group button {
	padding: 10px 20px;
	margin: 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button-group .submit {
	background: #000;
	color: #fff;
}

.button-group .cancel {
	background: #ddd;
}

